h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bg-pink {
  background-color: pink;
}
/* .box {
  margin: auto;
  border: 1px solid black;
  max-width: 1200px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.form-label {
  padding-bottom: 10px;
} */
